<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <title>reveal.js</title>

    <link rel="stylesheet" href="dist/reset.css" />
    <link rel="stylesheet" href="dist/reveal.css" />
    <link rel="stylesheet" href="dist/theme/white.css" />
    <link rel="stylesheet" href="css/stylesheet.css" />
    <link rel="stylesheet" href="css/animate.min.css" />
    <!-- theme used for syntax highlighted code -->
    <link rel="stylesheet" href="./css/dracula.css" />
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <section data-transition="none" data-background-transition="none">
          <h1 style="font-weight: 200" class="r-fit-text">
            <b
              >htm<span
                style="display: inline-block"
                class="animate__animated animate__tada animate__infinite"
                >x</span
              ></b
            >
            на практике
          </h1>
        </section>
        <section
          data-me="true"
          data-background-color="#676b6b"
          data-transition="none"
          data-background-transition="none"
        >
          <h1 data-addclass="animate__animated animate__bounceindown">
            Алексей Золотых
          </h1>
          <p class="fragment fade-up">инженер</p>
          <p class="fragment fade-up">тимлид</p>
          <p class="fragment fade-up">спикер</p>
        </section>
        <section>
          <img src="./img/logo.svg" style="height: 50vh" alt="" />
        </section>
        <section
          data-background-image="./img/myoffice.png"
          data-background-position="top"
        ></section>
        <section>
          <h2>команда веб-редакторов</h2>
          <img src="./img/office.png" alt="" />
        </section>
        <section>
          <img src="./img/holyjs.svg" style="height: 50vh" alt="" />
        </section>
        <section data-transition="none" data-background-transition="none">
          <h1 style="font-weight: 200" class="r-fit-text">
            <b
              >htm<span
                style="display: inline-block"
                class="animate__animated animate__tada animate__infinite"
                >x</span
              ></b
            >
            на практике
          </h1>
        </section>
        <section data-transition="none" data-background-transition="none">
          <div class="r-stack">
            <div class="animate__animated" data-addclass="animate__hinge">
              <h1 style="font-weight: 200" class="r-fit-text">
                <b
                  >htm<span
                    style="display: inline-block"
                    class="animate__animated animate__tada animate__infinite"
                    >x</span
                  ></b
                >
                на практике
              </h1>
            </div>
            <p
              class="animate__fadein animate__delay-3s"
              data-addclass="animate__animated"
              style="
                font-size: 2em;
                font-weight: 400;
                text-transform: uppercase;
              "
            >
              зачем мне еще одна библиотека?!
            </p>
          </div>
        </section>
        <section
          data-background-color="#0f0f0f"
          data-transition="zoom"
          data-nik="true"
        >
          <h3 style="font-weight: 800" class="r-fit-text">2 причины</h3>
        </section>
        <section>
          <h2>Причины</h2>
          <ul>
            <li>Перформанс</li>
            <li>Сложность</li>
          </ul>
        </section>
        <section>
          <h2>Проведем эксперимент</h2>
          <ul>
            <li>Почтовые клиенты на веб</li>
            <li>Одинаковое кол-во писем</li>
            <li>Смартфон</li>
            <li>Cеть 3G</li>
          </ul>
        </section>
        <section data-background-video="./video/1.mp4"></section>
        <section>
          <h2 class="r-fit-text">Почему так?</h2>
        </section>
        <section>Как выглядит любое приложение в 2024?</section>
        <section data-transition="slide none">
          <img style="height: 80vh" src="./img/f1.svg" alt="" />
        </section>
        <section data-transition="none">
          <img style="height: 80vh" src="./img/f2.svg" alt="" />
        </section>
        <section data-transition="none">
          <img style="height: 80vh" src="./img/f3.svg" alt="" />
        </section>
        <section data-transition="none">
          <img style="height: 80vh" src="./img/f4.svg" alt="" />
        </section>
        <section data-transition="none">
          <img style="height: 80vh" src="./img/f5.svg" alt="" />
        </section>
        <section>
          <div class="r-stack">
            <img src="./img/ex1.png" alt="" />
            <img class="fragment" src="./img/ex2.png" alt="" />
            <img class="fragment" src="./img/ex5.jpeg" alt="" />
            <img class="fragment" src="./img/ex6.png" alt="" />
          </div>
        </section>
        <section>
          <h2>Как загружается SPA</h2>
        </section>
        <section data-background="#222222" data-transition="none">
          <img style="max-height: 80vh" src="./img/spa/1.svg" alt="" />
        </section>
        <section data-background="#222222" data-transition="none">
          <img style="max-height: 80vh" src="./img/spa/2.svg" alt="" />
        </section>
        <section data-background="#222222" data-transition="none">
          <img style="max-height: 80vh" src="./img/spa/3.svg" alt="" />
        </section>
        <section data-background="#222222" data-transition="none">
          <img style="max-height: 80vh" src="./img/spa/4.svg" alt="" />
        </section>
        <section data-background="#222222" data-transition="none">
          <img style="max-height: 80vh" src="./img/spa/5.svg" alt="" />
        </section>
        <section data-background="#222222" data-transition="none">
          <img style="max-height: 80vh" src="./img/spa/6.svg" alt="" />
        </section>
        <section data-background="#222222" data-transition="none">
          <img style="max-height: 80vh" src="./img/spa/7.svg" alt="" />
        </section>
        <section data-background="#222222" data-transition="none">
          <img style="max-height: 80vh" src="./img/spa/8.svg" alt="" />
        </section>
        <section data-background="#222222" data-transition="none">
          <img style="max-height: 80vh" src="./img/spa/9.svg" alt="" />
        </section>
        <section>
          <h2>SPA &mdash; слишком долго</h2>
          <img src="./img/line.png" alt="" />
        </section>
        <section>
          <h2>Все уже давно решенo</h2>
          <p>Есть же NextJS!</p>
        </section>
        <section>
          <h2>The Cost Of JavaScript</h2>
          <p>Addy Osmani</p>
          <p>
            <a href="https://shorturl.at/MSS6p">shorturl.at/MSS6p</a>
          </p>
          <img src="./img/cofjs1.webp" alt="" />
        </section>
        <section>
          <img src="./img/cofjs2.webp" alt="" />
        </section>
        <section>
          <h2>Treeshaking или загрузка по частям</h2>
          Микрофронтенды наше все!
        </section>
        <section
          data-background-color="#0f0f0f"
          data-transition="zoom"
          data-nik="true"
        >
          <h3 style="font-weight: 800" class="r-fit-text">
            Мы забыли про сложность!
          </h3>
        </section>
        <section>
          <h2>Сложность все понимают по разному</h2>
          <p>Simple vs Easy</p>
        </section>
        <section>
          <h2>Доклад про микрофронтенды</h2>
          <p>
            Rajat Kumar — Conditional modules & dynamic bundling, a Netflix
            original
          </p>
          <p><a href="https://shorturl.at/5Y5Pj">shorturl.at/5Y5Pj</a></p>
        </section>
        <section>
          <img src="./img/kumar1.png" alt="" />
        </section>
        <section>
          <img src="./img/kumar2.png" alt="" />
        </section>
        <section>А как тогда нужно?!</section>
        <section>Старый добрый HTML</section>
        <section>
          <img src="./img/html_spec_2.png" alt="" />
        </section>
        <section>
          <p>Навигация в HTML</p>
          <pre><code data-trim>
...
&lt;nav class=&quot;menu&quot;&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Главная&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;О нас&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Контакты&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;
&lt;main id=&quot;content&quot;&gt;&lt;/main&gt;
...
          </code></pre>
        </section>
        <section>Добавим динамики?</section>
        <section data-transition="none">
          <h2>Ссылка</h2>
          <pre><code data-trim>
&lt;a href=&quot;/&quot;&gt;Главная&lt;/a&gt;
          </code></pre>
        </section>
        <section data-transition="none">
          <h2>Ссылка</h2>
          <pre><code data-trim>
&lt;a 
  href=&quot;/&quot; 
  navigation=true 
  selector=&quot;#content&quot;&gt;Главная&lt;/a&gt;
          </code></pre>
        </section>
        <section data-transition="slide none">
          <pre><code data-trim data-line-numbers="1-13|1,13|2-3|5-8|10-12">
document.addEventListener(&quot;click&quot;, async (event) =&gt; {
  const { selector, navigation } = event.target.dataset;
  const url = event.target.getAttribute(&quot;href&quot;);

  if (navigation) {
    event.preventDefault();
    event.stopPropagation();
  }

  // Распарсить ответ, получить по селектору
  const r = await getFromUrlBySelector(url, selector);
  target.innerHTML = r;
});
</code></pre>
        </section>
        <section data-transition="slide none">
          <h2>HTMX</h2>
          <p>
            htmx gives you access to AJAX, CSS Transitions, WebSockets and
            Server Sent Events directly in HTML, using attributes, so you can
            build modern user interfaces with the simplicity and power of
            hypertext
          </p>
        </section>
        <section data-transition="none">
          <h2>HTMX</h2>
          <p>
            htmx gives you access to
            <mark
              >AJAX, CSS Transitions, WebSockets and Server Sent Events</mark
            >
            directly in HTML, using attributes, so you can build modern user
            interfaces with the simplicity and power of hypertext
          </p>
        </section>
        <section data-transition="none">
          <h2>HTMX</h2>
          <p>
            htmx gives you access to AJAX, CSS Transitions, WebSockets and
            Server Sent Events <mark>directly in HTML</mark>, using attributes,
            so you can build modern user interfaces with the simplicity and
            power of hypertext
          </p>
        </section>
        <section data-transition="none">
          <h2>HTMX</h2>
          <p>
            htmx gives you access to AJAX, CSS Transitions, WebSockets and
            Server Sent Events directly in HTML, <mark>using attributes</mark>,
            so you can build modern user interfaces with the simplicity and
            power of hypertext
          </p>
        </section>
        <section>
          <h2>HTMX</h2>
          <pre><code data-trim>
&lt;script src=&quot;https://unpkg.com/htmx.org@1.9.12&quot;&gt;&lt;/script&gt;
&lt;!-- have a button POST a click via AJAX --&gt;
&lt;button hx-post=&quot;/clicked&quot; hx-swap=&quot;outerHTML&quot;&gt;
  Click Me
&lt;/button&gt;
          </code></pre>
        </section>
        <section>
          <h2><strike>Старое говно</strike>&nbsp;Классика</h2>
          <div class="r-stack">
            <div>
              <img style="height: 50vh" src="./img/logo/rails.svg" alt="" />
            </div>
            <div class="fragment">
              <img style="height: 50vh" src="./img/logo/django.svg" alt="" />
            </div>
            <div class="fragment">
              <img style="height: 50vh" src="./img/logo/laravel.svg" alt="" />
            </div>
            <div class="fragment">
              <img style="height: 50vh" src="./img/logo/spring.svg" alt="" />
            </div>
          </div>
        </section>
        <section data-background="#222222" data-transition="none">
          <img style="max-height: 70vh" src="./img/ssr/1.svg" alt="" />
        </section>
        <section data-background="#222222" data-transition="none">
          <img style="max-height: 70vh" src="./img/ssr/2.svg" alt="" />
        </section>
        <section data-background="#222222" data-transition="none">
          <img style="max-height: 70vh" src="./img/ssr/3.svg" alt="" />
        </section>
        <section data-background="#222222" data-transition="none">
          <img style="max-height: 70vh" src="./img/ssr/4.svg" alt="" />
        </section>
        <section>
          <h1>Халява с hx-boost</h1>
          <pre><code data-trim>
&lt;div hx-boost=&quot;true&quot;&gt;
  &lt;a href=&quot;/page1&quot;&gt;Go To Page 1&lt;/a&gt;
  &lt;a href=&quot;/page2&quot;&gt;Go To Page 2&lt;/a&gt;
&lt;/div&gt;
          </code></pre>
          <pre><code data-trim>
&lt;form hx-boost=&quot;true&quot; action=&quot;/example&quot; method=&quot;post&quot;&gt;
    &lt;input name=&quot;email&quot; type=&quot;email&quot;&gt;
    &lt;button&gt;Submit&lt;/button&gt;
&lt;/form&gt;
          </code></pre>
        </section>
        <section data-background-video="./img/simple.mov"></section>
        <section data-background-video="./img/simple_demo.mov"></section>
        <section>
          <h2>Ajax или hx-{get,post,put,delete}</h2>
          <pre><code data-trim>
&lt;div hx-get=&quot;/example&quot;&gt;Get Some HTML&lt;/div&gt;
          </code></pre>
          <pre class="fragment"><code data-trim>
&lt;div hx-get=&quot;/clicked&quot; hx-trigger=&quot;click[ctrlKey]&quot;&gt;
    Control Click Me
&lt;/div&gt;
          </code></pre>
          <pre class="fragment"><code data-trim>
&lt;div hx-get=&quot;/news&quot; hx-trigger=&quot;every 2s&quot;&gt;&lt;/div&gt;
          </code></pre>
        </section>
        <section>
          <h2>Lazy loading</h2>
        </section>
        <section>
          <pre><code data-trim>
&lt;div hx-get=&quot;/graph&quot; hx-trigger=&quot;load&quot;&gt;
  &lt;img  alt=&quot;Result loading...&quot; class=&quot;htmx-indicator&quot; width=&quot;150&quot; src=&quot;/img/bars.svg&quot;/&gt;
&lt;/div&gt;
          </code></pre>
          <pre><code data-trim>
.htmx-settling img {
  opacity: 0;
}
img {
 transition: opacity 300ms ease-in;
}
          </code></pre>
        </section>
        <section data-transition="none">
          <img src="./img/habr3.png" alt="" />
        </section>
        <section data-transition="none">
          <img src="./img/habr4.png" alt="" />
        </section>
        <section data-transition="none">
          <img src="./img/habr5.png" alt="" />
        </section>
        <section data-transition="none">
          <img src="./img/habr6.png" alt="" />
        </section>
        <section>
          <h2>Схема загрузки</h2>
          <pre><code data-trim>
&lt;header hx-get=&quot;/header&quot; hx-trigger=&quot;load&quot;&gt; 
  Здесь будет шапка...
&lt;/header&gt;

&lt;main&gt;
  &lt;section&gt;Content...&lt;/section&gt;
  &lt;aside hx-get=&quot;/companies&quot; 
         hx-trigger=&quot;load&quot;&gt;
  Здесь будут компании...
  &lt;/aside&gt;
&lt;/main&gt;
          </code></pre>
        </section>
        <section>
          <h2>Фильтрация списка</h2>
          <img src="./img/admin.png" alt="" />
        </section>
        <section>
          <h2>Фильтрация списка</h2>
          <pre><code data-trim>
&lt;input id=&quot;search&quot; 
       type=&quot;search&quot; 
       name=&quot;q&quot; 
       value=&quot;{{ request.args.get(&#39;q&#39;) or &#39;&#39; }}&quot;
       hx-get=&quot;/contacts&quot;
       hx-trigger=&quot;change, keyup delay:200ms changed&quot;
       hx-target=&quot;tbody&quot;
       hx-push-url=&quot;true&quot;/&gt;
          </code></pre>
        </section>
        <section data-background-video="./img/search.mov"></section>
        <section>Если все-таки нужно динамичнее</section>
        <section>
          <h2>Кусок кода на Express</h2>
          <pre><code data-trim data-line-numbers="1-15|1|3,14|4-11|5">
app.ws(&quot;/ws&quot;, (ws) =&gt; {
  let counter = 0;
  setInterval(() =&gt; {
    const result = `&lt;div 
            hx-swap-oob=&quot;afterbegin:#content&quot;&gt;
            &lt;button 
            class=&quot;btn btn-primary&quot; 
            data-bs-toggle=&quot;modal&quot; 
            data-bs-target=&quot;#exampleModal&quot;&gt;
              ${counter}
            &lt;/button&gt;&lt;/div&gt;`;
    ws.send(result);
    counter++;
  }, 1000);
});
          </code></pre>
          <pre><code data-trim>
&lt;div id=&quot;content&quot; hx-ws=&quot;connect:/ws&quot;&gt;&lt;/div&gt;
          </code></pre>
        </section>
        <section data-background-video="./img/ws.mov"></section>
        <section>
          <h2>Анимация</h2>
          <pre><code data-trim>
&lt;style&gt;
.fade-me-out.htmx-swapping {
  opacity: 0;
  transition: opacity 1s ease-out;
}
&lt;/style&gt;

&lt;button class=&quot;fade-me-out&quot;
        hx-delete=&quot;/fade_out_demo&quot;
        hx-swap=&quot;outerHTML swap:1s&quot;&gt;
        Fade Me Out
&lt;/button&gt;
          </code></pre>
        </section>
        <section>
          <h2>HTMX &mdash; не вундервафля</h2>
        </section>
        <section data-background-video="./img/bad.mp4">
        </section>
        <section>
          <h2>Недостатки</h2>
          <ul>
            <li class="fragment">Для Fullstack</li>
            <li class="fragment">Не для большой команды</li>
            <li class="fragment">Нет API</li>
            <li class="fragment">Http Attributes Hell</li>
          </ul>
        </section>
        <section>
          <h2>Достоинства</h2>
          <ul>
            <li class="fragment">Для Fullstack</li>
            <li class="fragment">Не для большой команды</li>
            <li class="fragment">Супербыстро</li>
            <li class="fragment">Декларативно</li>
            <li class="fragment">Нет сборки и мало JS</li>
          </ul>
        </section>
        <section>Выводы</section>
        <section>
          <h2>Спасибо!</h2>
          <table>
            <tr>
              <td style="text-align: center">
                <img src="./img/qr_pr.svg" style="height: 40vh" alt="" />
                Слайды
              </td>
              <td style="text-align: center">
                <img src="./img/qr-t.svg" style="height: 40vh" alt="" />
                @budlatbokr
              </td>
            </tr>
          </table>
        </section>
      </div>
    </div>
    <img
      class="js-me animate__slideInUp"
      src="./img/me.png"
      alt="speaker photo"
      style="
        height: 70vh;
        position: fixed;
        bottom: 0;
        right: 50%;
        display: none;
      "
    />
    <img
      class="js-nik animate__slideInRight"
      src="./img/nikolaev.png"
      alt="speaker photo"
      style="height: 70vh; position: fixed; bottom: 0; right: 0%; display: none"
    />

    <script src="dist/reveal.js"></script>
    <script src="plugin/notes/notes.js"></script>
    <script src="plugin/markdown/markdown.js"></script>
    <script src="plugin/highlight/highlight.js"></script>
    <script src="plugin/math/math.js"></script>
    <script>
      // More info about initialization & config:
      // - https://revealjs.com/initialization/
      // - https://revealjs.com/config/
      Reveal.initialize({
        hash: true,
        // Learn about plugins: https://revealjs.com/plugins/
        plugins: [
          RevealMarkdown,
          RevealHighlight,
          RevealNotes,
          RevealMath.KaTeX,
        ],
      });

      Reveal.on("slidechanged", (event) => {
        const image = document.querySelector(".js-me");
        const showImage = event.currentSlide.dataset["me"];
        image.style.display = showImage ? "block" : "none";
        if (showImage) {
          image.classList.add("animate__animated");
        } else {
          image.classList.remove("animate__animated");
        }
      });

      Reveal.on("slidechanged", (event) => {
        const image = document.querySelector(".js-nik");
        const showImage = event.currentSlide.dataset["nik"];
        image.style.display = showImage ? "block" : "none";
        if (showImage) {
          image.classList.add("animate__animated");
        } else {
          image.classList.remove("animate__animated");
        }
      });

      Reveal.on("slidechanged", (event) => {
        event.previousSlide
          ?.querySelectorAll("[data-addclass]")
          .forEach((el) => {
            const classNames = el.dataset["addclass"].split(" ");
            el.classList.remove(...classNames);
          });
        event.currentSlide.querySelectorAll("[data-addclass]").forEach((el) => {
          const delay = el.dataset["addclassDelay"];
          const classNames = el.dataset["addclass"].split(" ");
          setTimeout(
            () => el.classList.add(...classNames),
            delay ? parseInt(delay, 10) : 0,
          );
        });
      });
    </script>
  </body>
</html>
